/venv

\.DS_Store

data/
.aws-sam
lambda_mail
.notes.txt
*.pyc
geckodriver.log
old
.serverless
selenium_layer/chromedriver
selenium_layer/selenium
requirement_layer/other
pandas_layer/pandas
lambda
lambda/
src/func/chromedriver


config/

src/mozilla-selen.txt

test.sql
